@layer base {
    @font-face {
        font-family: "Brittany Signature";
        src: url("../assets/fonts/BrittanySignature.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
    }
    *{
        box-sizing:border-box;
    }

    html{

        scroll-behavior:smooth;

    }

    body{

        margin:0;

        background:var(--color-page);

        color:var(--color-primary);

        font-family:var(--font-body);

        overflow-x:hidden;

    }

    h1,h2,h3,h4,h5,h6{

        font-family:var(--font-heading);

        font-weight:600;

        margin:0;

    }

    p{

        margin:0;

        line-height:1.8;

    }

    button{

        cursor:pointer;

    }

    img{

        display:block;

        max-width:100%;

    }

}