# Dependências
node_modules/

# Builds
dist/
build/

# Variáveis de ambiente
.env
.env.local
.env.development
.env.production

# Logs
*.log

# Vite
.vite/

# Sistema operacional
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
